%form{:method => "post"}
  .option
    %label{:for => "days"} # Days
    %input{:type => "text", :name => "days", :size => 2, :value => 31 }
  .option
    %label{:for => "rotors"} # Rotors
    %input{:type => "text", :name => "rotors", :size => 1, :value => 3 }
  .option
    %label{:for => "reflector"} Reflector Positions
    %input{:type => "text", :name => "reflectors", :size => 1, :value => 3}
  .option
    %input{:type => "submit", :value => "Generate"}

- if @days
  %table
    %tr
      %th Day
      %th Rotors
      %th Rings
      %th Reflector
      %th Plugs
      - @days.each do |d|
        %tr
          %td
            %pre
              =d[0]
          %td
            %pre
              ="#{d[1]} #{d[2]} #{d[3]}"
          %td
            %pre
              ="#{d[4]} #{d[5]} #{d[6]}"
          %td
            %pre
              =d[7]
          %td
            %pre
              ="#{d[8][0]}-#{d[8][1]}  #{d[9][0]}-#{d[9][1]}  #{d[10][0]}-#{d[10][1]}"
