%table
  %tr
    %th Day
    %th Rotors
    %th Rings
    %th Reflector
    %th Plugs
  - @days.each do |d|
    %tr
      %td
        %pre
          =d[0]
      %td
        %pre
          ="#{d[1]} #{d[2]} #{d[3]}"
      %td
        %pre
          ="#{d[4]} #{d[5]} #{d[6]}"
      %td
        %pre
          =d[7]
      %td
        %pre
          ="#{d[8][0]}-#{d[8][1]}  #{d[9][0]}-#{d[9][1]}  #{d[10][0]}-#{d[10][1]}"
